header {
  height: 70px;
  width: 100%;
  color: #ffffff;
  border-bottom: 1px solid #cccccc;
  display: flex;
  align-items: center;
}

div.logo {
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  height: 100%;
  width: 140px;
  margin: 0 0 0 20px;
}